form#chatForm {
	display: none;
}

div#content {
	margin-left: auto ;
	margin-right: auto ;
	width: 800px ;
}

#messageLog {
	width: 575px;
	height: 500px;
	border: solid 2px grey;
	overflow-y: scroll;
	padding: 4px;
}

#messageLog .message {
	margin: 2px;
}

#messageLog .message .sender {
	font-weight: bold;
	color: green;
	border: solid 1px green;
	border-radius: 3px;
	background-color: lightGreen;
	padding: 0px 2px;
}

#messageLog .message .system {
	color: darkRed;
	border-color: red;
	background-color: pink;
}

#messageLog .message .content {
	margin-left: 0.25em;	
	color: white;
}

#userListWrapper {
	width: 200px;
	height: 500px;
	border: solid 2px grey;
	overflow-y: scroll;
	padding: 4px;
	float: right;
}

#userList {
	list-style-type: none;
	margin: 0;
	padding: inherit;
}

#userList li {
	font-weight: bold;
	color: green;
	border: solid 1px green;
	border-radius: 3px;
	background-color: lightGreen;
	text-align: center;
}

body {
	background:
		linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
		linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
		linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
		linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
		linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
		linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
		background-color: #131313;
		background-size: 20px 20px;
}
