body {
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
}

div#content {
	padding: 0.25em;
	flex-grow: 1;
	min-height: 50%;
}

#codeOnGitHub {
	font-size: smaller;
	align-self: flex-end;
	margin: .5em;
}

form.hidden {
	display: none !important;
}

form#chatForm {
	display: grid;
	grid-template-columns: auto fit-content(10em);
	grid-template-rows: auto min-content;
	height: 100%;
}

#messageLog {
	order: 0;
	max-height: 100%;
	border: solid 2px grey;
	overflow-y: auto;
	padding: 4px;
}

#messageLog .message {
	margin: 2px;
}

#messageLog .message.lastSeen {
	border-bottom: 1px solid red;
}

#messageLog .message .sender {
	font-weight: bold;
	color: green;
	border: solid 1px green;
	border-radius: 3px;
	background-color: lightGreen;
	padding: 0px 2px;
}

#messageLog .message .system {
	color: darkRed;
	border-color: red;
	background-color: pink;
}

#userListWrapper {
	order: 1;
	border: solid 2px grey;
	overflow-y: scroll;
	padding: 4px;
}

#userList {
	list-style-type: none;
	margin: 0;
	padding: inherit;
}

#userList li {
	font-weight: bold;
	color: green;
	border: solid 1px green;
	border-radius: 3px;
	background-color: lightGreen;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
}

#themeSelectorWrapper {
	order: 3;
	white-space: nowrap;
	margin: auto;
}

#messageEntryWrapper {
	order: 2;
	display: flex;
	padding-block: 0.4em;
	padding-inline: 0.2em;
}

#messageEntryWrapper input#message {
	flex-grow: 1;
}

#messageEntryWrapper input[type="submit"] {
	margin-inline: 0.2em;
}
