form#chatForm {
	display: none;
}

div#content {
	margin-left: auto ;
	margin-right: auto ;
	width: 800px ;
}

#messageLog {
	width: 575px;
	height: 500px;
	border: solid 2px grey;
	overflow-y: scroll;
	padding: 4px;
}

#messageLog .message {
	margin: 2px;
}

#messageLog .message.lastSeen {
	border-bottom: 1px solid red;
}

#messageLog .message .sender {
	font-weight: bold;
	color: green;
	border: solid 1px green;
	border-radius: 3px;
	background-color: lightGreen;
	padding: 0px 2px;
}

#messageLog .message .system {
	color: darkRed;
	border-color: red;
	background-color: pink;
}

#userListWrapper {
	width: 200px;
	height: 500px;
	border: solid 2px grey;
	overflow-y: scroll;
	padding: 4px;
	float: right;
}

#userList {
	list-style-type: none;
	margin: 0;
	padding: inherit;
}

#userList li {
	font-weight: bold;
	color: green;
	border: solid 1px green;
	border-radius: 3px;
	background-color: lightGreen;
	text-align: center;
}

input#message {
	width: 65%;
	margin-top: 1em;
}

#codeOnGitHub {
	position: fixed;
	bottom: 10px;
	right: 10px;
}
